body {
  background: white;
}

#cap {
  background: #FF8240;
  width: 925px;
  height: 200px;
  display: flex;
  position: absolute;
  margin: 20px 20px;
  border-radius: 20px;
  opacity: 1;
  z-index: 0;
}

#logo {
  z-index: 2;
  position: absolute;
  border-radius: 20px;
  margin: 20px 20px;
}

#card_espresso {
  background: #A63A00;
  width: 450px;
  height: 450px;
  position: absolute;
  margin: 270px 20px;
  border-radius: 50px;
  opacity: 1;
  z-index: 0;
}

#card_cappussino_img {
  z-index: 11;
  position: absolute;
  margin: 370px 610px;
  width: 200px;
  height: 200px;
}

#card_cappussino {
  background: #A63A00;
  width: 450px;
  height: 450px;
  position: absolute;
  margin: 270px 490px;
  border-radius: 50px;
  opacity: 1;
  z-index: 0;
}

#plus_cappussino_block {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 550px;
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 1;
  z-index: 5;
}

#plus_cappussino_block_invizes {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 550px;
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 0;
  z-index: 12;
}

#minus_cappussino_block_invizes {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 775px;
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 0;
  z-index: 12;
}

#minus_cappussino_block {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 775px;
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 1;
  z-index: 6;
}

#card_espresso_img {
  z-index: 2;
  position: absolute;
  margin: 360px 175px;
  width: 130px;
  height: 241px;
}

#text_espresso {
  position: absolute;
  z-index: 3;
  font-size: 60px;
  margin: 270px 70px;
  color: #FF8240;
}

#text_cappuccino {
  position: absolute;
  z-index: 3;
  font-size: 60px;
  margin: 270px 530px;
  color: #FF8240;
}

#plus_espresso_block {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 80px;
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 1;
  z-index: 5;
}

#plus_espresso {
  font-size: 100px;
  position: absolute;
  z-index: 6;
  margin: 573px 95px;
  color: #FF8240;
}

#plus_espresso_block_invizes {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 80px;
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 0;
  z-index: 7;
}

#click_espresso {
  font-size: 100px;
  position: absolute;
  z-index: 7;
  margin: 573px 205px;
  color: #FF5600;
}

#click_cappussino {
  font-size: 100px;
  position: absolute;
  z-index: 7;
  margin: 573px 675px;
  color: #FF5600;
}

#minus_espresso_block {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 300px; /*20px отступ*/
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 1;
  z-index: 5;
}

#minus_espresso {
  font-size: 103px;
  position: absolute;
  z-index: 7;
  margin: 520px 320px;
  color: #FF8240;
}

#plus_cappussino {
  font-size: 103px;
  position: absolute;
  z-index: 7;
  margin: 570px 564px;
  color: #FF8240;
}

#minus_cappussino {
  font-size: 103px;
  position: absolute;
  z-index: 7;
  margin: 518px 795px;
  color: #FF8240;
}

#minus_espresso_block_invizes {
  background: #FF5600;
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 600px 300px; /*20px отступ*/
  border-radius: 10px;
  border: 5px solid #FF8240;
  opacity: 0;
  z-index: 8;
}

#stick_espresso {
  width: 450px;
  height: 10px;
  background: #FF8240;
  position: absolute;
  z-index: 10;
  margin: 355px 20px;
  opacity: 0;
}
